
[submodule "modules/wanage"]
       path = modules/wanage
       url = git://github.com/wakaba/wanage
[submodule "modules/charclass"]
       path = modules/charclass
       url = git://github.com/wakaba/perl-charclass
[submodule "modules/ooutils"]
       path = modules/ooutils
       url = git://github.com/wakaba/perl-ooutils
[submodule "modules/web-url"]
       path = modules/web-url
       url = git://github.com/manakai/perl-web-url
[submodule "modules/web-encodings"]
       path = modules/web-encodings
       url = git://github.com/manakai/perl-web-encodings

[submodule "t_deps/modules/web-driver-client"]
	path = t_deps/modules/web-driver-client
	url = https://github.com/manakai/perl-web-driver-client.git
	track = master
[submodule "t_deps/modules/web-resource"]
	path = t_deps/modules/web-resource
	url = https://github.com/manakai/perl-web-resource
	track = master
[submodule "t_deps/modules/promise"]
	path = t_deps/modules/promise
	url = https://github.com/wakaba/perl-promise
	track = master
[submodule "t_deps/modules/web-url"]
	path = t_deps/modules/web-url
	url = https://github.com/manakai/perl-web-url
	track = master
[submodule "t_deps/modules/web-encodings"]
	path = t_deps/modules/web-encodings
	url = https://github.com/manakai/perl-web-encodings
	track = master
[submodule "t_deps/modules/json-ps"]
	path = t_deps/modules/json-ps
	url = https://github.com/wakaba/perl-json-ps
	track = master
[submodule "t_deps/modules/web-datetime"]
	path = t_deps/modules/web-datetime
	url = https://github.com/manakai/perl-web-datetime
	track = master
