[submodule "modules/wanage"]
	path = modules/wanage
	url = https://github.com/wakaba/wanage
[submodule "modules/charclass"]
	path = modules/charclass
	url = https://github.com/wakaba/perl-charclass
[submodule "modules/ooutils"]
	path = modules/ooutils
	url = https://github.com/wakaba/perl-ooutils
[submodule "modules/web-url"]
	path = modules/web-url
	url = https://github.com/manakai/perl-web-url
[submodule "modules/web-encodings"]
	path = modules/web-encodings
	url = https://github.com/manakai/perl-web-encodings
