env: 
  - global: 
      secure: OXTFUvTBSAdNIM1eInVOEpLGhyF0v0YHYSmDsRF6Z1Nc56Dzm+C7wT77DWmEF8s4SDi9RlRbsAZf32DPWRBJw7WQLNOjxYqQKI7Q14mxhCXKKvPxEBtZCPz6TlWb6xbiz3F36qNNmzakf+torxm8iwH6uavnglB8DvCNsj7nQZM=
  - FOO=1
  - FOO=2
before_install: git submodule update --init
script: make test
jobs:
  include:
    - stage: merge
      script: curl https://gist.githubusercontent.com/wakaba/9970857/raw/travis-merger-git.pl | perl
notifications: 
  irc: 
    use_notice: true
    channels: 
      - irc.suikawiki.org#mechanize
  email: 
    - wakaba@suikawiki.org
#deploy:
#  provider: heroku
#  strategy: git
##  buildpack: https://github.com/wakaba/heroku-buildpack-perl-pmbp
#  api_key:
#    secure: RQQDfTnspiAPCQ4neJMB4lysykdQerbsWcyExusJqUzmK1aVooY1FPv/LYYkEtN5ymvlR0J/Hm/BbY0TsbhCSpotxEI3d581C5IZGbtrb3pcA11bHOwcgD2VQdPbHBDSjQka+vMVhwxiq9WjpgNyOvHX4i2KBc1hcE0LpXof5vg=
#  app:
#    master: fuga1
#  on:
#    branch: master
#after_deploy:
#  - "make external-test-or-rollback"
