{
   "jobs" : {
      "deploy_github_nightly" : {
         "if" : "${{ github.ref == 'refs/heads/nightly' }}",
         "needs" : [
            "test"
         ],
         "runs-on" : "ubuntu-latest",
         "steps" : [
            {
               "uses" : "actions/checkout@v2",
               "with" : {
                  "fetch-depth" : 0,
                  "ref" : "master",
                  "ssh-key" : "${{ secrets.GH_GIT_KEY }}"
               }
            },
            {
               "run" : "git config --global user.name \u0022GitHub Actions\u0022"
            },
            {
               "run" : "git config --global user.email \u0022temp@github.test\u0022"
            },
            {
               "run" : "git fetch --unshallow origin master || git fetch origin master"
            },
            {
               "run" : "git checkout master || git checkout -b master origin/master"
            },
            {
               "run" : "git merge -m \u0022auto-merge $GITHUB_REF ($GITHUB_SHA) into master\u0022 $GITHUB_SHA"
            },
            {
               "run" : "git push origin master"
            },
            {
               "env" : {
                  "BWALLER_URL" : "${{ secrets.BWALLER_URL }}"
               },
               "run" : "curl -sSf $BWALLER_URL | BWALL_GROUP=merger.${GITHUB_REF/refs\u005C/heads\u005C//} BWALL_NAME=${GITHUB_REPOSITORY} bash"
            }
         ]
      },
      "deploy_github_staging" : {
         "if" : "${{ github.ref == 'refs/heads/staging' }}",
         "needs" : [
            "test"
         ],
         "runs-on" : "ubuntu-latest",
         "steps" : [
            {
               "uses" : "actions/checkout@v2",
               "with" : {
                  "fetch-depth" : 0,
                  "ref" : "master",
                  "ssh-key" : "${{ secrets.GH_GIT_KEY }}"
               }
            },
            {
               "run" : "git config --global user.name \u0022GitHub Actions\u0022"
            },
            {
               "run" : "git config --global user.email \u0022temp@github.test\u0022"
            },
            {
               "run" : "git fetch --unshallow origin master || git fetch origin master"
            },
            {
               "run" : "git checkout master || git checkout -b master origin/master"
            },
            {
               "run" : "git merge -m \u0022auto-merge $GITHUB_REF ($GITHUB_SHA) into master\u0022 $GITHUB_SHA"
            },
            {
               "run" : "git push origin master"
            },
            {
               "env" : {
                  "BWALLER_URL" : "${{ secrets.BWALLER_URL }}"
               },
               "run" : "curl -sSf $BWALLER_URL | BWALL_GROUP=merger.${GITHUB_REF/refs\u005C/heads\u005C//} BWALL_NAME=${GITHUB_REPOSITORY} bash"
            }
         ]
      },
      "test" : {
         "env" : {
            "CIRCLE_ARTIFACTS" : "/tmp/circle-artifacts/test"
         },
         "runs-on" : "ubuntu-latest",
         "steps" : [
            {
               "uses" : "actions/checkout@v2",
               "with" : {
                  "ssh-key" : "${{ secrets.GH_GIT_KEY }}"
               }
            },
            {
               "run" : "mkdir -p $CIRCLE_ARTIFACTS"
            },
            {
               "run" : "mkdir -p ~/.ssh && \u000A      echo \u0022${{ secrets.GH_GIT_KEY }}\u0022 > ~/.ssh/id_rsa && \u000A      chmod 600 ~/.ssh/id_rsa && \u000A      ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts && \u000A      echo -e \u0022Host github.com\u005Cn  IdentityFile ~/.ssh/id_rsa\u005Cn  StrictHostKeyChecking no\u0022 > ~/.ssh/config && \u000A      chmod 600 ~/.ssh/config"
            },
            {
               "env" : {
                  "BWALLER_URL" : "${{ secrets.BWALLER_URL }}",
                  "DDSDDATA_GIT" : "${{ secrets.DDSDDATA_GIT }}",
                  "DDSDRUN_BUILD_MAIN" : "${{ secrets.DDSDRUN_BUILD_MAIN }}",
                  "DDSDRUN_DOCKER_IMAGE" : "${{ secrets.DDSDRUN_DOCKER_IMAGE }}",
                  "DOCKER_PASS" : "${{ secrets.DOCKER_PASS }}",
                  "DOCKER_USER" : "${{ secrets.DOCKER_USER }}"
               },
               "run" : "make ddsd-batch"
            },
            {
               "run" : "true"
            },
            {
               "if" : "${{ always () }}",
               "uses" : "actions/upload-artifact@v4",
               "with" : {
                  "path" : "/tmp/circle-artifacts/test"
               }
            }
         ]
      }
   },
   "name" : "test",
   "on" : {
      "push" : {
      },
      "schedule" : [
         {
            "cron" : "42 7,15,23 * * *"
         }
      ]
   }
}
