{
   "jobs" : {
      "test" : {
         "env" : {
            "CIRCLE_ARTIFACTS" : "/tmp/circle-artifacts/test"
         },
         "runs-on" : "ubuntu-latest",
         "steps" : [
            {
               "uses" : "actions/checkout@v2",
               "with" : {
                  "ssh-key" : "${{ secrets.GH_GIT_KEY }}"
               }
            },
            {
               "run" : "mkdir -p $CIRCLE_ARTIFACTS"
            },
            {
               "run" : "mkdir -p ~/.ssh && \u000A      echo \u0022${{ secrets.SSH_PRIVATE_KEY }}\u0022 > ~/.ssh/id_rsa && \u000A      chmod 600 ~/.ssh/id_rsa && \u000A      ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts && \u000A      echo -e \u0022Host github.com\u005Cn  IdentityFile ~/.ssh/id_rsa\u005Cn  StrictHostKeyChecking no\u0022 > ~/.ssh/config && \u000A      chmod 600 ~/.ssh/config"
            },
            {
               "env" : {
                  "BWALLER_URL" : "${{ secrets.BWALLER_URL }}",
                  "DDSDDATA_GIT" : "${{ secrets.DDSDDATA_GIT }}",
                  "DDSDRUN_DOCKER_IMAGE" : "${{ secrets.DDSDRUN_DOCKER_IMAGE }}",
                  "DOCKER_PASS" : "${{ secrets.DOCKER_PASS }}",
                  "DOCKER_USER" : "${{ secrets.DOCKER_USER }}"
               },
               "run" : "make ddsd-batch"
            },
            {
               "run" : "true"
            },
            {
               "if" : "${{ always () }}",
               "uses" : "actions/upload-artifact@v4",
               "with" : {
                  "path" : "/tmp/circle-artifacts/test"
               }
            }
         ]
      }
   },
   "name" : "test",
   "on" : {
      "push" : {
      }
   }
}
